nav {
    position: fixed;
    top:0;
    z-index: 99;
    width: 100%;
}

nav .span {
    background-color: rgb(20, 20, 20);
    display: block;
    width: 20px;
    height: 4px;
    transition: 0.5s;
}

nav label {
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: fixed;
    top: 10px;
    right: 10px;
}

#btn-menu:checked + div>ul {
    display: block;
}

#btn-menu {
    display: none;
}

nav ul {
    display:none;
    list-style: none;
    margin-top:40px;
}

nav li {
    width: 100%;
    text-align: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    color: rgb(20, 18, 18);
    
}

nav li a:hover {
    background-color: rgb(160, 153, 153);
    color: rgb(96, 131, 245);

}

nav li a{
    text-decoration:none;
    color:black;
    width:250px;
    display:inline-block;
    padding: 5px;
    padding-right: 50px;
}

#btn-menu:checked + div .span1 {
    transform: rotate(45deg)
    translate(2px, -2px);
    transform-origin: 0 0;
}
#btn-menu:checked + div .span2 {
    opacity: 0;
}
#btn-menu:checked + div .span3 {
    transform: rotate(-45deg);
 transform-origin: 0 0;
}


