#sinopse, #Criticas {
    text-align: justify;
    font-size:20px;
    padding:10px;
    margin:50px 0;
}

#sinopse h3, #Criticas h3, #detalhes h3 {
    text-align:center;
    margin:10px 0;
    font-size:25px;
}

#detalhes span{
    font-weight: bold;
}

#img, #detalhes {
   margin:70px auto;
   width:200px;
}

#img img{
    width: 100%;
}

#sinopse p, #Criticas p{
    line-height: 25px;
    padding: 10px;
    text-indent: 30px;
}
#Criticas{
   border-top: 1px dashed rgb(0, 0, 0);
}

@media screen and (min-width:800px){
    #sinopse, #Criticas{ 
        display:inline-block;
        width:calc(100vw - 400px);
    }
    #img {
        display:inline-block;
        margin:70px;
     }
     #Criticas{
         margin-left: 340px;
     }
     #detalhes {
         position: absolute;
         left: 70px;
         top: calc(650px - 12vw);
     }
}

@media screen and (min-width:1020px){
    #detalhes {

        top: 350px;
    }
}