#sinopse {
    text-align: justify;
    font-size:20px;
    padding:10px;
    margin:70px 0;
}

#sinopse h3 {
    text-align:center;
    margin:10px 0;
    font-size:25px;
}

#img {
   margin:70px auto;
}

@media screen and (min-width:800px){
    #sinopse{ 
        display:inline-block;
        width:calc(100vw - 400px);
    }
    #img {
        display:inline-block;
        margin:70px;
     }
}