.product-slider .bx-viewport {overflow: visible !important;}
.product {
	background:#fff;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	padding: 20px;
	text-align: center;
	position: relative;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	max-width: 208px;
	min-height: 435px;
	display: inline-block;
	vertical-align: top;
}
.product:hover {margin-top: -20px !important;padding-top: 40px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,0.4);-moz-box-shadow:0 5px 10px rgba(0,0,0,0.4);box-shadow:0 5px 10px rgba(0,0,0,0.4);z-index: 52} */
.product-row {height: 470px;position: relative;margin-bottom: 12px;z-index: 50}
.product-row:hover {height: 470px;position: relative;margin-bottom: 12px;z-index: 51}

/* .product .main-prod-img {display: inline-block;border: 1px solid #ccc;min-height: 178px;} */
.product .main-prod-img {display: inline-block;border: none;min-height: 178px;}
.product h2, .product h2 a, .product-tile h2, .product-tile h2 a, .product-tile-bigger h2, .product-tile-bigger h2 a {color: #009dac;font-size: 15px;font-weight: 500;margin-top: 10px;}
.product h2 { width: 142px; height: 32px; margin-top: 8px; margin-bottom: 5px; overflow: hidden; text-align: center; }
.product h2 a {display: table-cell; width: 142px; height: 32px; vertical-align: middle; }
.product h3 { display: block; color: #999; height: 28px; font-size: 13px; font-weight: 500; text-align: center; margin: 0; overflow: hidden; }
.product h3 span { display:table-cell; width: 142px; height: 32px; vertical-align: middle; }
.precos {text-align: center;line-height: 23px;border-top: 1px dotted #ccc;margin: 10px auto 0;padding: 0 0 0;}
.precos .preco-original {font-size: 16px;}
.precos .preco-menor, .plus-cultura {font-size: 22px;color: #009dac;margin: 0}
.precos .plus-cultura {font-size: 13px;}
.product .preco-original {margin-bottom: 0;display: block;height: 25px;}

.product .juros {font-size: 12px;color: #999;}
.product .esconde {max-height: 0;opacity: 0;overflow:hidden;transition: all 0.7s;-webkit-transition: all 0.7s;}
.product:hover .esconde {opacity: 1;max-height: 200px;padding-bottom: 10px;}
.product:hover .prod-heart, .tooltip-active:hover .prod-tooltip {opacity: 1;display: block;}

/*tooltip dos produtos */
.product .prod-tooltip, .tooltip {transition: opacity 0.4s;opacity:0;background:url(../images/wish-tool-sprite.png) no-repeat transparent -40px -354px;position:absolute;width:inherit;top:100px;z-index:500;text-align:left;padding-left:15px;margin-left:155px;display: none}
.product.right .prod-tooltip, .right .tooltip {margin-left: -363px;}
.small-slider .slide-group ul .info-left .product .prod-tooltip, .tooltip {background:url(../images/wish-tool-sprite.png) no-repeat transparent 282px -358px;margin-left:-363px;width:350px;display:none;padding:0 15px 0 0}
.product .prod-tooltip p, .tooltip p {padding:15px}
.product .prod-tooltip .title, .tooltip .title {font-size:16px;background:url(../images/wish-tool-sprite.png) no-repeat 293px -287px;font-weight:700;color:#fff;height:52px;line-height:52px;background-color:#009dac;padding:0 15px}
.product .prod-tooltip .descrip, .tooltip .descrip {font-size:13px;line-height:18px;color:#999}
.product .prod-tooltip .bottom, .tooltip .bottom{border-top:1px dotted #999;background:#fff url(../images/wish-tool-sprite.png) no-repeat 20px -239px;padding-left:66px;overflow:hidden;width:inherit;}
.product .prod-tooltip .bottom p, .tooltip .bottom p{width:auto;background:#f5f5f5;font-size:12px;color:#666;margin:0;}
.product .prod-tooltip .bottom p span, .tooltip .bottom p span{color:#009dac;font-weight:700}
.product .prod-tooltip .pt-cont, .info-left .product .prod-tooltip .pt-cont, .tooltip .pt-cont{background-color:#fff;width:330px;-webkit-box-shadow:0 0 7px gray;-moz-box-shadow:0 0 7px gray;box-shadow:0 0 7px gray}
.right.product .prod-tooltip, .right .tooltip {padding-left:0;padding-right:15px;background-position: 265px -354px;}

/*estrelas da votacao */
.stars {margin: 15px auto 5px;width:85px;display:block;position:relative;clear:both;height:16px;background:url(../images/stars.jpg) top center no-repeat}
.stars .star{width:16px;height:16px;display:block;float:left;cursor:pointer;margin-left:1px}
.stars .star-on{width:16px;height:16px;display:block;float:left}

.product-new-box .prod-heart .dropdown-menu {
	background: url(../../assets/images/wish-tool-sprite.png) no-repeat transparent 8px -358px;
    width: 350px;
    border: 0!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    margin:-40px 0 0 20px;
    padding: 0 0 0 15px
}

.product-new-box.right .prod-heart .dropdown-menu {
    margin-left: -341px;
    margin-top: -37px;
    padding: 0 15px 0 0;
    background-position: 315px -360px;
}

.product-new-box.right .prod-heart .dropdown-menu li:first-child {
    border-left: 1px solid #ccc;
    border-right: 5px solid #5e008b;
}

.product-new-box .prod-heart .dropdown-menu li:first-child {
    border-left: 5px solid #5e008b;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background: url(../../assets/images/wish-tool-sprite.png) no-repeat 288px -200px;
    background-color: #fff;
}

.heart-plus:hover{
	background: url(../../assets/images/product-box-new/sprites-product-block.png) no-repeat -30px 0;
	margin-right: 1px;
    margin-left: 1px;
    width: 24px;
    height: 24px;
}

.product-new-box .prod-heart .dropdown-menu li {
    display: block;
    width: auto;
    float: none;
    height: 50px;
    line-height: 50px;
    text-align: left;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    margin: 0;
    padding: 0;
}

.product-new-box .prod-heart .dropdown-menu li:first-child p {
    margin-left: 15px;
    color: #5e008b;
    font-size: 16px;
    font-weight: 700;
}

.product-new-box .prod-heart .dropdown-menu li a {
    color: #999;
    background: url(../../assets/images/wish-tool-sprite.png) no-repeat 296px -150px;
    background-color: #fff;
    line-height: 50px;
    font-weight: 400;
    font-size: 15px;
    padding: 0 20px;
}

.product-new-box .prod-heart .dropdown-menu li .selected {
	color: #999;
    background: url(../../assets/images/wish-tool-sprite.png) no-repeat 296px -100px;
    background-color: #fff;
    line-height: 50px;
    font-weight: 400;
    font-size: 15px;
    padding: 0 20px;	
}

.product-new-box .prod-heart .dropdown-menu .new_list a {
    color: #5e008b;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    background: #fff url(../../assets/images/wish-tool-sprite.png) no-repeat 300px 0px;
}

.product .prod-heart .dropdown-menu .new_list a {
    background: url(../../assets/images/wish-tool-sprite.png) no-repeat 300px 0;
    background-color: #fff;
    color: #5e008b;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
}

.price-original, .preco-original {text-decoration: line-through}
.product-static {display:block;padding: 10px;border-bottom: 1px dotted #e2e2e2;color:#000;text-decoration: none !important;}
.product-static:hover h2, .product-static:hover .precos p {text-decoration: underline;}
.slide .product-static:last-child {border-bottom: 0;}
.product-static h2 {font-size: 14px !important;font-weight:500;text-align: left;padding: 0 !important;margin: 0;}
.product-static>a {text-align: center;display:block;padding: 5px 0;}
.product-static .precos {border-top: 0;text-align: left;margin: 0;}
.product-static .precos .preco-original {color: #000;text-decoration: none !important;}
.product-static .precos p {font-size: 15px;margin: 0;line-height: 20px;}
.product-static .precos .plus-cultura {font-size: 12px}

#added-to-cart {width: 810px;padding: 20px 20px 30px;border:1px solid #000;margin: 30px auto;overflow: hidden;}
#added-to-cart .product-resume h1, #added-to-cart .buy-resume h1 {font-size: 18px;margin: 0 0 20px 0;padding: 5px 0 4px;}
#added-to-cart .product-resume {width: 400px;float: left;}
#added-to-cart h1.accept {background: url(../images/accept.jpg) no-repeat;padding: 5px 0 4px 40px;}
#added-to-cart .buy-resume {height: 226px;width: 345px;float: right;border-left: 1px dotted #e2e2e2;margin-left: 20px;padding-left: 20px;}
#added-to-cart .product-img {display: inline-block;float:left;border-color: 1px solid #e2e2e2;vertical-align: top;}
#added-to-cart .details {width: 250px;margin-left: 20px;float: right;}
#added-to-cart .details h2 {margin: 0 0 5px;font-size: 22px;}
#added-to-cart .details .preco {margin: 15px 0 0px;font-size: 24px;color: #666;}
#added-to-cart .details .selos {margin-top: 39px;}
#added-to-cart .sub-total {margin-top: -8px;margin-bottom: 25px;}
#added-to-cart .sub-total b {color: #0098aa;font-size: 24px;display: inline-block;margin: 0 5px;}
#added-to-cart .btn-finalizar-compra {margin-bottom: 5px;background-position: -1px 0 !important;}
#added-to-cart header {margin: 20px 0 0}
#added-to-cart header h1 {margin-bottom: -20px}

.product-mini {
	min-height: 100px !important;
	padding-top: 20px !important;
	margin-top: 0 !important;
	width: 173px;
	margin: 0 5px;
	float: left;
	margin-top: 0 !important;
}

.product-mini:hover {
	margin-top: 0 !important;
}

.product-mini .prod-heart {
	display: none !important; 
}

.product-mini .esconde {
	padding-top: 10px;
}

.preco-menor.dark {
	color: #455363;
}

.preco-only {
	margin: 25px 0 20px !important;
}

.esgotado-fornecedor {
	height: 30px;
	background: url(../images/frete-sprite.png) 0 -205px no-repeat;
	width: 122px;
}

.product .esgotado-fornecedor {
	margin: 25px auto;
}

.preco-original.big {
	color: #455363;
	text-decoration: none;
	font-size: 22px;
	margin: 15px 0 5px;
}

.prod-list { list-style: none; padding: 0; margin: 0; }
.prod-list.fleft, .prod-list.fright { width: 378px; }

.product-tile, .product-tile-bigger {transition: 0.3s;-webkit-transition: 0.3s;-moz-transition: 0.3s;}
.product-tile:hover, .product-tile-bigger:hover {border-color: #009dac !important;}

#main-wrapper ul li.product-tile { background: #FFF; width: 184px; height: 184px; float: left; position: relative; padding: 10px; margin: 0 10px 10px 0; }
#main-wrapper ul li.product-tile.last { margin-right: 0; }
#main-wrapper ul li.product-tile > a { display: block; text-align: center; }
#main-wrapper ul li.product-tile .main-prod-img { display: inline-block; height: 114px; }
#main-wrapper ul li.product-tile h2 a { vertical-align: bottom; display: table-cell; }

#main-wrapper ul li.product-tile.post h2 { height: auto !important; }
#main-wrapper ul li.product-tile.post h3 { color: #999;font-size: 11px;font-weight: 500;margin: 0; }
#main-wrapper ul li.product-tile.post .read-more { /*background: url(../images/);*/ font-size: 12px; text-align: left; }

#main-wrapper ul li.product-tile.banner { position: relative; padding: 0; }
#main-wrapper ul li.product-tile.banner .banner-img { width: 184px; height: 184px; }
#main-wrapper ul li.product-tile.banner .more-info { background: url('../images/mundo-infantil-sprite.png') 0 0 no-repeat; width: 50px; height: 50px; position: absolute; right: 0; bottom: 0; }

#main-wrapper ul li.product-tile h2 { height: 28px; overflow: hidden; }
#main-wrapper ul li.product-tile h2, #main-wrapper ul li.product-tile h2 a { font-size: 13px; margin: 6px 0 3px; }
#main-wrapper ul li.product-tile .precos { border: none; margin: 0; text-align: left; }
#main-wrapper ul li.product-tile .preco { color: #455363; font-size: 13px; font-weight: bold; margin: 0; line-height: 15px; }
#main-wrapper ul li.product-tile .stars { position: absolute; right: 0; bottom: 10px; clear: none; margin: 30px 10px 0 0; }

.product-tile-bigger { background: #FFF; width: 378px; height: 378px; position: relative; }
.product-tile-bigger .bigger-bg { background-position: center center; background-repeat: no-repeat; width: 378px; height: 330px; display: block; display: table-cell; vertical-align: middle; text-align: center; }
.product-tile-bigger .main-prod-img { min-width: 200; max-width: 378px; min-height: 200px; max-height: 330px; }
.product-tile-bigger h2 { height: auto; margin-top: 9px; }
.product-tile-bigger h2, .product-tile-bigger .precos { padding: 0 10px !important; }

.prod-list.vertical .product-tile {width: auto !important;float: none !important;margin: 10px 0 !important;}

.product .tend-msg {
background: #a0a39a;
position: relative;
display: block;
left: -21px;
right: -21px;
top: -21px;
width: 184px;
color: #fff;
text-align: center;
font-size: 10px;
font-weight: 300;
padding: 3px 0;
transition: all 0.4s;-webkit-transition: all 0.4s;
}

.product:hover .tend-msg {
	margin-top: -19px;
}

.product .ribbons, #product-highlights .bigger-image .ribbons {
	position: absolute;
	left: -6px;
	top: 5px;
	text-align: left;
	transition: margin 0.4s;
	-webkit-transition: margin 0.4s;
}
#product-highlights .bigger-image .ribbons {
	left: -5px;
}

.product.right:hover .ribbons {
	margin-top: 35px;
}

.product .ribbons b, #product-highlights .bigger-image .ribbons b {
	font-size: 13px;
	background: #999;
	color: #fff;
	display: inline-block;
	padding: 1px 7px 2px;
	margin-bottom: 5px;
	text-align: left;
	box-shadow: 0px 1px 0 rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 1px 0 rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 1px 0 rgba(0,0,0,0.1);
	text-transform: lowercase;
}

#product-highlights .bigger-image .ribbons b {
	background: #009dac;
}

.product .ribbons b:before, #product-highlights .bigger-image .ribbons b:before {
	content: '';
	width: 0px;
	height: 0px;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid #4f4f4f;
	position: absolute;
	left: 0px;
	top: 16px;
	z-index: -1;
}

.product-row-new {
	height: 100%;
	position: relative;
	z-index: 50;
	margin-top: 35px;
}

.product-new {
    background:#fff;
    width: 769px;
    display: flex;
    align-items: top;
}

.product-new-content {
    display: inline-flex;
    justify-content: center;
    align-items: top; 
    text-align: center;
    height: 100%;
}

.product-row-new .product-new-box {
    margin-right: 6px;
}

.product-new-box {
	background: #fff;
	width: 186 !important;
    height: 100%;
  	padding: 0px 11px 11px 11px;
    display: inline-block;
}

.product-discount-new {
	position: absolute;
    margin-left: -15px;	
	width: 35px;
	height: 14px;
	font-family: 'Arial';
	font-size: 12px;
	color: #fff;
	background-color: #455363;
	border: 1px solid #fff;	
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 50;
}

.product-font-new {
	font-family: 'Lato';	
	text-align: center;
	text-transform: capitalize;
	display: inline-block;
}

.product-title-new {
	margin-top: 11px !important;
	font-size: 14px !important; 
	color: #009DAC !important;
	line-height: 97%;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 164px;    
	height: 32px; 	
}

.author-title-new a{
	margin-top: 4px !important;
	font-size: 13px  !important;
	color: #999 !important;
	width: 164px;
	height: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-type-new {
	margin-top: 11px;
	font-size: 12px;
	color: #455363;
	width: 164px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.product-new-box .product-title-new a {
	text-overflow: ellipsis!important;
    height: 32px;
    overflow: hidden;
    text-transform: uppercase;
    line-height: 16px;
}

.price-big {
	font-size: 16px;
	color: #455363;	
}

.price-small {
	padding-right: 2px;
	font-size: 14px;
	color: #666;
	text-decoration: line-through;	
}

.price-big-new {
	font-size: 18px;
	color: #435263;	
}

.price-small-new {
	padding-right: 2px;
	font-size: 12px;
	color: #999;
	text-decoration: line-through;	
}

.price-unavailable {
	padding-left: 3px;
	font-size: 15px;
	color: #999;	
}

.product-new-img {
	margin-top: 5px;
	height: 178px;
	width: 164px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
}

.price-new-align {
	margin-top: 6px;
	width: 164px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.price-installment {
	height: 18px;
	top: 7px;
	font-size: 12px;
	color: #455363;
	width: 164px;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.main-prod-img-new {
	display: inline-block;
	border: none;
	max-height: 178px;
	max-width: 164px;
}

.product-new-box:hover .main-prod-img-new {
	position: relative;
	display: inline-block;
	border: none;
	opacity: 0.7;
}

.product-block-box {
	position: absolute;
    margin-left: -13px;
    border: 1px solid #999;
    background: #000;
    width: 154px;
    border-radius: 10px;
    opacity: 0;
    z-index: 30;
    bottom: -10px;
    left: 20px;
    visibility: hidden;
}

.product-new-box:hover .product-block-box {
    background: rgba(0,0,0,0.8);
    opacity: 1;
    transition: all 0.7s;
    -webkit-transition: all 0.7s;
    visibility: visible;
}

.product-stars-align {
	position: relative;
	height: 29px;
	border-bottom: 1px dotted #eee;
	margin-left: 5px;
	margin-right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.product-button-align {
	position: relative;
	margin: 9px 0;
	height: 20px;
	display: flex;
	justify-content: center;
	align-itens: flex-start;
}

.product-status-align {
	position: relative;
	width: 154px;
	margin: 7px 0;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.product-status-align-center {
	position: relative;
	height: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.product-status {
	padding-left: 3px;
	font-size: 11px;
	color: #fff;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.product-new-bg-img {
	background: url(../images/product-box-new/sprites-product-block.png) no-repeat;
	margin-right: 1px;
	margin-left: 1px;
}

.product-status-icon-exclusive {
	width: 0px;
	height: 0px;
	background-position: 0px 0px;
}

.product-status-icon-available {
	width: 10px;
	height: 10px;
	background-position: -23px -32px;
}

.product-status-icon-rocket {
	width: 18px;
	height: 10px;
	background-position: 0px -32px;
}

.product-status-icon-last {
	width: 7px;
	height: 10px;
	background-position: -52px -32px;
}

.product-status-icon-pre-order {
	width: 12px;
	height: 10px;
	background-position: -60px -32px;
}

.product-status-icon-read-now {
	width: 13px;
	height: 10px;
	background-position: -37px -32px;
}

.product-status-icon-star {
	width: 10px;
	height: 10px;
	background-position: -59px -14px;
}

.product-status-icon-star-over {
	width: 10px;
	height: 10px;
	background-position: -59px 0px;
}

.product-status-icon-unavailable {
	width: 13px;
	height: 13px;
	background-position: -74px 0px;
}

.product-button-heart {
	width: 24px;
	height: 24px;
	background-position: 0px 0px;	
}

.product-button-heart:hover {
	width: 24px;
	height: 24px;
	background-position: -30px 0px;	
}

.product-button-heart-align {
	position: absolute;
	z-index: 1000;
	margin-left: 138px;
	margin-top: -12px;
}

.product-button-new {
	outline: 0;
    background-color: #FF960E;
    background: linear-gradient(to bottom right, #FF960E, #E9870D);
    border: none;
    color: #fff !important;
    width: 100px;
    height: 20px;
    text-align: center;	
    text-decoration: none !important;
    display: inline-block;  
    z-index: 51px; 
    padding: 0px;  
}

.product-button-new:hover {
	outline: 0;
    background-color: #FF960E;
    background: linear-gradient(to bottom right, #F58F0E, #D97C0F);
    border: none !important;
    color: #fff !important;
    width: 100px;
    height: 20px;
    text-align: center;	
    text-decoration: none !important;
    display: inline-block;   
    z-index: 51px;
    padding: 0px;  
}

#block-separator {
	border-top:1px #CCC dotted;
	margin-bottom: 0px;
	margin-top: 0px;
	width: 100%;
}

.product-row-new:last-child #block-separator {
    display: none;
}

.heart-plus {
    background: url(../../assets/images/product-box-new/sprites-product-block.png) no-repeat;
    margin-right: 1px;
    margin-left: 1px;
    width: 24px;
    height: 24px;
    background-position: 0 0;
}

.product-buy-async {
	text-align: center;
}

.product-buy-async .product-button-new {
	background: url(../../assets/images/buttons/bt-adicionar.gif) no-repeat;
	width: 119px;
    height: 25px;
    text-indent: -300px;
    margin: 9px 0 0 0;
}

.prod-heart {
	position: absolute;
    z-index: 1000;
    margin-left: 138px;
    margin-top: -12px;
    display: inherit;
    width: 24px;
    height: 24px;
    background-position: 0 0;
}

.product-new-box.right .prod-heart{
	 margin-left: -8px;
}

#product-highlights .description .product_subheading {
	font-size: 16px !important;
}
#main-wrapper #suggest-products {height: 233px;}
#suggest-products>.product-slider .slide-wrapper {padding-top: 0;}
#suggest-products .product-slider .bx-controls-direction a {top: 79px!important;}
#suggest-products .product-slider {overflow: visible;height: 233px;bottom: 0px;}
#suggest-products .slide-wrapper {height: auto; margin:auto}
#suggest-products .bx-wrapper img {max-width: 100%;display: initial !important;}
#suggest-products .product-tile {width: 183px;position: relative;padding: 10px;margin: 0px;border: 1px solid #e2e2e2;}
#suggest-products h2 { height: 28px; }
#suggest-products h2, #featured-products h2 a {text-align: center; font-size: 13px; margin: 6px 0 3px; }
#suggest-products .precos { border: none; margin: 0; text-align: center; }
#suggest-products .preco { color: #455363; font-size: 13px; font-weight: bold; margin: 0; line-height: 15px; }
#suggest-products .stars { position: absolute; right: 0; bottom: 11px; clear: none; margin: 30px 10px 0 0; }
#suggest-products h2 a {font-size: 13px; margin: 6px 0 3px; text-align: center;}
#suggest-products .mosaic-small-item{max-width:164px;max-height:114px;}
#suggest-products .mosaic-small-link{min-height:114px;}

.loading-product-auction {
	height: 252px;
	text-align: center;
	padding: 110px 0;
}

.product-auction-container {
	padding: 20px 50px;
    border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #dfdfdf;
}

.product-auction-container.auction-winner-container {
	padding: 20px 0 20px 50px;
}

.auction-bid-value-input {
    padding: 5px;
	width: 70px;
    color: #16A3AA;
    text-align: right;
    font-size: 15px;
}

#auction-bid-history {
	display: inline-block;
	width: 100%;
	padding-top: 10px;
    color: #666;
    font-size: 14px;
}

#product-auction-end {
	display: inline-block;
	width: 100%;
    color: #666;
    font-size: 14px;
}

#product-auction-end-data {
	color: #41B2B6;
	font-size: 12px;
}

#auction-bid-history-quantity {
	color: #009DAC;
}

#days-end {
	color: #F94374;
}

.auction-winner-message {
	color: #F94374;
    font-size: 16px;
	margin-top: 10px;
	line-height: 18px;
}

.auction-winner-message-desc {
	margin-bottom: 20px;
    line-height: 14px;
}

.auction-price-container {
	border: 1px dashed #98999B;
    padding: 6px 30px;
	display: inline-block;
    min-width: 232px;
	vertical-align: middle;
}

.auction-buy-buttons-container {
	float: right;
    margin: 10px 0;
}

#new-product-details .auction-price-container .installments {
	font-size: 11px!important;
    width: 170px;
	position: relative;
}

.auction-price-winner-label {
	display: block;
    color: #F38B00;
    margin-bottom: 0;
}

.auction-price-value {
    font-size: 26px;
    font-weight: 700;
    color: #44525D;
}

#auction-bid-history-a {
    text-decoration: underline;
    color: #666;
}

#current-bid-value-div {
	border: 1px dashed #98999B;
    height: auto;
    margin-top: 25px;
	padding: 10px 10px 10px 43px;
    display: inline-block;
    width: 100%;
}

.current-bid-value {
    color: #F3406C;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
	max-width: 100px;
}

.inline-block {
	display: inline-block;
}

.vertical-middle {
	vertical-align: middle;
}

#bid-value {
	font-size: 30px;
	font-weight: 700;
	margin-left: 10px;
	color: #44525D;
	display: inline-block;
    vertical-align: middle;
}

#payment-link {
    background: url(../../assets/images/buttons-sprite-product-page.png) -9px -128px no-repeat;
    display: inline-block;
    width: 7px;
	height: 5px;
}

#payment-conditions {
    width: 155px;
    font-size: 11px;
    color: #666;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 10px;
}

.auction-block-installment {
    font-size: 12px;
}

.auction-blue-text {
	color: #009DAC;
}

.auction-installment-dropdown {
    font-size: 12px;
    width: 225px;
   	padding: 3px !important;
}

.auction-installment-dropdown .auction-blue-text {
	font-size: 14px;
}

#payment-conditions a {
	font-size: 11px;
	color: #0C92A9;
	display: inline-block;
}

#my-bid {
	margin-top: 40px;
	position: relative;
}

#my-bid.disabled-form {
	color: #BCBCBC;
}

#block-my-bid {
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    justify-content: center;
    display: none;
    padding: 22px;
    text-align: center;
}

.submit-bid-btn {
	padding: 0 40px;
    height: 40px;
    float: left;
    margin-top: 5px;
    background-image: linear-gradient(to bottom, rgba(255,150,14,1), rgba(233,136,13,1));
    border: 0.5px solid #EEE;
    color: #fff;
    font-weight: 700;
    line-height: 40px;
}

a.submit-bid-btn:hover {
	color: white;
	text-decoration: none;
}

#my-bid.disabled-form .submit-bid-btn {
	background: #BFBFBF
}

#choice-value {
    width: 205px;
    display: inline-block;
}

#real-value {
    font-size: 15px;
    font-weight: bolder;
}

#choice-value input[type="checkbox"] {
	color: #ADADAD;
    margin-top: 7px;
}

.first {
	color: #F38B00 !important; 
}

.auction-help {
    background: url('//statics.livrariacultura.net.br/assets/static/images/leilao/sprite-leilao.png') no-repeat 0 0;
    width: 10px;
    height: 10px;
    margin: 0px 1px;
    display: inline-block;
}

#my-bid.disabled-form .auction-help {
    background: url('//statics.livrariacultura.net.br/assets/static/images/leilao/sprite-leilao.png') no-repeat -20px 0;
}

.date-hour-historic {
	color: #858585;
    display: inline-block;
    margin-right: 50px;
    font-weight: 700;
    float: left;
}

.bid-historic-value {
	color: #32AFBA;
	display: inline-block;
	float: right;
}

.bid-historic {
	display: inline-block;
	width: 317px;
	padding: 10px 30px 10px 30px;
}
.bid-historic:nth-child(even) {
    background: #fff;
}

.bid-historic:nth-child(odd) {
    background: #EAEAEA;
}

.bid-historic-title {
	color: #32AFBA;
    display: inline-block;
    width: 100%;
    font-family: lato;
    text-align: center;
}

.bid-historic-content {
    width: 317px;
    font-family: lato;
    font-weight: 700;
}

#auction-rules-title {
    font-size: 25px;
    margin-top: 0;
    color: #0098aa;
}

#auction-rules {
    max-height: 200px;
    background-color: #fff;
    width: 100%;
    display: block;
    overflow-y: scroll;
    color: #666;
    border-radius: 0;
    word-break: inherit;
    white-space: pre-line;
	font-family: arial;
}

.auction-loading {
    height: 16px;
    width: 16px;
    padding-left: 65px;
}

.auction-loading-price {
	background: url('../images/custom/ajax-loader-small.gif') no-repeat 0 0;
	width: 16px;
	height: 16px;
}

.auction-label-column {
	float: left;
	width: 200px;
}
.auction-value-column {
	float: left;
	font-size: 12px;
	color: #666;
}
.default-hidden {	
	display: none;
}

#success-message-lightbox {
	text-align: center;
	padding-top: 30px;
	font-size: 15px;
	font-weight: bold;
}

.buy-product-form {
	margin-bottom: 0px;
}

.secondary-title h2 {
	font-weight: 300!important;
	text-transform: uppercase!important;
}

.secondary-title {
	font-weight: 300!important;
	text-transform: uppercase!important;
}

.star-container {
	object-fit: none;
	height: 15px;
	width: 81px;
	overflow: hidden;
	margin-top: 2px;
}

.new-star-0 {
	object-position: 0px 0px;
}

.new-star-1 {
	object-position: 0px -105px;
}

.new-star-2 {
	object-position: 0px -15px;
}

.new-star-3 {
	object-position: 0px -120px;
}

.new-star-4 {
	object-position: 0px -30px;
}

.new-star-5 {
	object-position: 0px -135px;
}

.new-star-6 {
	object-position: 0px -45px;
}

.new-star-7 {
	object-position: 0px -150px;
}

.new-star-8 {
	object-position: 0px -60px;
}

.new-star-9 {
	object-position: 0px -165px;
}

.new-star-10 {
	object-position: 0px -75px;
}

.product-retira-em-loja {
	text-transform: none;
	text-align: left;
	font-weight: 700;
	position: relative;
	display: inline-block;
    width: 271px;
    margin-top: 10px;
}

#retira-em-loja-link {
	cursor: pointer;
}

.product-retira-em-loja-icon {
	position: absolute;
	background: url(../../assets/images/icone-retirada-em-loja-green.svg) no-repeat!important;
	width: 22px;
	height: 18px;
	left: -35px;
}

.retira-arrow-box {
	display: none;
	position: absolute;
	background: #fff;
	border: 1px solid #dcdcdc;
	margin-top: 100px;
	padding: 10px 15px;
	z-index: 2;
	width: 300px;
}
.retira-arrow-box:after, .retira-arrow-box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.retira-arrow-box:after {
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}
.retira-arrow-box:before {
	border-color: rgba(229, 229, 229, 0);
	border-bottom-color: #dcdcdc;
	border-width: 11px;
	margin-left: -11px;
}

.product-retira-icon {
	position: absolute;
	background: url(../../assets/images/loja-ico.png) -2px -75px no-repeat;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	left: 15px;
}

.retira-arrow {
	background: url(https://assets.livrariacultura.net.br/assets/images/home-2017/ico-seta-baixo-verde.svg)	no-repeat;
	background-position: 6px 8px;
	float: right;
	cursor: pointer;
	height: 19px;
	width: 25px;
}

.retira-choose-city {
	text-align: left;
}

.retira-content {
	margin: auto 0px;
}

.retira-select {
	text-align: left;
}

.custom-store-info header {
	background-color: #6a7683;
}

.custom-store-info h2 {
	font-size: 15px !important;
	color: #fff;
	font-weight: 300;
	padding-top: 8px;
	margin-left: 13px;
	letter-spacing: -0.1px;
	padding-bottom: 8px;
	margin-top: 0!important;
}

.shop-city .retira-select {
	font-size: 15px!important;
	letter-spacing: -0.1px;
	color: #696969;
	font-weight: bold;
}

#store-city-select {
	margin-top: 0px;
	margin-bottom: 20px;
}

.retira-content {
	margin-bottom: 15px;
}

.address {
	padding-top: 0px;
}

#store-info {
    margin: 0!important;	
}

.map-group {
	width: 100%;
    display: flex;
    justify-content: space-between;
}

.box-horizontal-separator {
	width: 100%;
	height: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #e5e5e5;
}

.store-location {
	padding-left: 15px;
}

#store-info .freight-info {
	width: auto!important;
	font-weight: bold;
	margin-left: 10px;
}

.custom-store-info {
    display: block;
    border: 1px solid #6a7683;
}

.how-to-arrive-product-page a {
	color: #666!important;
	font-weight: bold;
	margin-right: 15px;
	top: 10px;
    position: relative;
	font-size: 14px;
}

.available-date-container {
	display: flex;
}

.available-date-icon {
    background: url(../../assets/images/icone-retirada-em-loja.svg) no-repeat;
    background-size: 22px 19px;
    width: 22px;
    height: 19px;
    margin-right: 10px;    
    margin-top: 11px;
}

#shipping-extras {
	display: flex;
}

.freight-info-icon {
	background: url(../../assets/images/icone-frete-gratis.svg) no-repeat;
	background-size: 24px 16px;
	width: 24px;
	height: 16px;
}

.how-to-arrive-container {
	display: flex;
}

.how-to-arrive-icon {
    background: url(../../assets/images/icone-local.svg) no-repeat;
	background-size: 14px 20px;
	width: 14px;
	height: 20px;
	margin-right: 7px;
    margin-top: 8px;
}

.store-available-date {
	font-size: 14px;	
}

/*** 2018 - LAYOUT ***/
.products-ev {
	margin: 30px 0 43px 0;
	display: flex;
	flex-wrap: wrap;
}

.product-row-ev {
	height: auto;
	position: relative;
	z-index: 50;
	margin-top: 35px;
}
.product-row-ev .product-ev-box {
    height: 458px;
	background: #fff;
	width: 186 !important;
  	padding: 0px 11px 11px 11px;
    display: inline-block;
    margin: 0 5px;    
}

.product-ev-box {
    height: 458px;
	background: #fff;
	width: 186 !important;
  	padding: 0px 11px 11px 11px;
    display: inline-block;
    margin: 15px 5px;
    position: relative;  
}

.bxslider .product-ev-box {
	height: 437px;
	margin: 15px 5px 0px 5px;
	padding: 0px 11px 0px 11px;
}
.bxslider .product-ev-box .product-button-align-ev {
	margin: 11px 0 0 0;
}
/* .product-row-ev .product-ev-box:first-child { */
/* 	margin-left: 0; */
/* } */

.product-ev-box-column-sep {
	height: 408px;
	width: 1px;
	margin-top: 15px;
	border-left: solid 1px rgba(151, 151, 151, 0.2);
}

.product-ev-box-column-sep:last-child {
	display: none;	
}

@media (max-width: 1018px) {
	.product-ev-content .product-ev-box-column-sep:nth-of-type(6n+6) {
		display: none;	
	}
}

@media (min-width: 1019px) {
	.product-ev-content .product-ev-box-column-sep:nth-of-type(8n+8) {
		display: none;	
	}
}

.product-row-ev:last-child #block-separator {
    display: none;
}
.product-ev-content {
    display: inline-flex;
    height: auto;
    width: auto;
    flex-wrap: wrap;
}

.product-ev-img {
	margin-top: 12px;
	height: 178px;
	width: 164px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;
}

.main-prod-img-ev {
	display: inline-block;
	border: none;
	max-height: 178px;
	max-width: 164px;
}

.product-labels-ev {
	height: 45px;
	padding-top: 9px;
	padding-left: 25px;
}

.product-labels-ev .product-status-label-ev {
	width: 115px;
	height: 30px;
	border-radius: 15.6px;
	background-color: #ffffff;
	border: solid 1px rgba(221, 221, 221, 0.72);
	margin: auto;
	display: inline-flex;
    padding-top: 7px;
    padding-left: 5px;	
}

.product-labels-ev .product-status-label-ev .product-status-icon-rocket {
    width: 18px;
    height: 15px;
	background-image: url(../images/home-2017/ico-rocket.svg);
    background-repeat: no-repeat;
	margin: 1px 6px 0 2px;
	background-position: 0 0;
}

.product-labels-ev .product-status-label-ev .product-status-icon-read-now {
	width: 16px;
    height: 15px;
	background-image: url(../images/home-2017/ico-read-now.svg);
    background-repeat: no-repeat;
	margin: 0 12px 0 11px;
	background-position: 0 0;
}

.product-labels-ev .product-status-label-ev .product-status-icon-last {
    width: 7px;
    height: 15px;
    background-image: url(../../assets/images/home-2017/ico-last-units.svg);
    background-repeat: no-repeat;
    margin: 0 3px 0 8px;
    background-position: 0 0;
}

.product-labels-ev .product-status-label-ev .product-status-icon-available {
	width: 18px;
    height: 15px;
	background-image: url(../images/home-2017/ico-available.svg);
    background-repeat: no-repeat;
	margin: 0 -2px 0 0px;
	background-position: 0 0;
}

.product-labels-ev .product-status-label-ev .product-status-icon-pre-order {
	width: 16px;
    height: 15px;
	background-image: url(../images/home-2017/ico-pre-order.svg);
    background-repeat: no-repeat;
	margin: 0 12px 0 11px;
	background-position: 0 0;
}

.product-labels-ev .product-status-label-ev .label-font-ev {
	font-family: 'SourceSansPro';	
 	font-size: 11px;
	color: #a3a3a3;	
}

.product-font-ev {
	font-family: 'SourceSansPro';	
	text-align: center;
	display: inline-block;
}
.product-title-ev {
	font-size: 16px; 
	color: #111111;
	justify-content: center;
	width: 165px;    
	height: 36px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.13;
	letter-spacing: normal;
	text-align: center;
	
  	display: block;
  	display: -webkit-box;
  	-webkit-line-clamp: 2;
  	-webkit-box-orient: vertical;  	
}

.product-title-ev a,
.product-title-ev a:hover,
.product-title-ev a:visited,
.product-title-ev a:focus {
	color: #111111;
	text-decoration: none;
}

.author-title-ev a {
	margin-top: 5px !important;
	width: 165px;
	height: 16px;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	font-family: SourceSansPro;
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.14;
	letter-spacing: normal;
	text-align: center;
	color: #666666;
	
	overflow: hidden;
	text-overflow: ellipsis;
  	display: block;
  	display: -webkit-box;
  	-webkit-line-clamp: 1;
  	-webkit-box-orient: vertical;  		
}

.author-title-ev a:hover {
	text-decoration: none;	
}

.product-stars-ev-align {
	margin-top: 7px;
	position: relative;
	height: 14px;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.product-ev-icon-star {
	width: 14px;
	height: 14px;
	margin-left: 3px;
	margin-right: 3px;
	background: url("../images/home-2017/stars-ev.svg") no-repeat;
}

.product-ev-icon-star-over {
	width: 14px;
	height: 14px;
	margin-left: 3px;
	margin-right: 3px;	
	background: url("../images/home-2017/stars-ev-over.svg") no-repeat;
}

.product-type-ev {
	margin-top: 7px;
	font-size: 12px;
	color: #444444;
	width: 165px;
	height: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-transform: capitalize;
}

.price-new-align-ev {
	margin: 6px auto auto auto;
	width: 165px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.price-small-ev {
	font-family: SourceSansPro;
	padding-right: 2px;
	font-size: 12px;
	color: #999;
	text-decoration: line-through;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: right;	
}

.price-big-ev {
	font-size: 17px;
	color: #3098aa;
	height: 24px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	display: contents;		
}

.product-font-ev .price-installment {
	height: 15px;
	top: 7px;
	font-size: 12px;
	color: #444444;
	width: 165px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;	
	margin-top: 2px;		
}

.product-button-align-ev {
	position: relative;
	margin: 11px 0;
	height: 43px;
	display: flex;
	justify-content: center;
	align-itens: flex-start;
}

.product-button-ev {
	width: 165px;
	height: 43px;
	border: 0;
	color: #ffffff;
	font-size: 12px;
	text-align: left;
	padding: 0 0 0 8px;
	font-weight: bold;
	background-color: #f38e0d;
	background-image: url(../images/home-2017/ico-carrinho-branco.svg);
    background-repeat: no-repeat;
    background-size: 19px 24px;
    background-position-x: 130px;
    background-position-y: 9px;
}

.product-button-ev .fullAdd {
	display: block;
}
.product-button-ev .resumedAdd {
	font-size: 16px;
    padding-left: 26px;	
	display: none;
}

@media (max-width: 1018px) {
	.product-button-ev .fullAdd {
		display: none;
	}
	.product-button-ev .resumedAdd {
		display: block;
	}
	.product-button-ev {
		background-position-x: 119px;
	}
}

.price-ev-unavailable {
	width: 165px;
    height: 43px;
	border: solid 1px #979797;
	margin-top: 44px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.product-discount-ev {
	position: absolute;
    margin-left: 0;
    width: 47px;
    height: 24px;
    font-family: 'Arial';
    font-size: 12px;
    color: #fff;
    background-color: #f64c73;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
    top: 0;	
}

.product-discount-ev:after {
    content: "";
    position: absolute;
    left: 100%;
    border-width: 12px;
    border-style: solid;
    border-color: transparent transparent transparent #f64c73;	
}

.product-ev-unavailable {
	opacity: 0.5;
}

.product-ev-box .prod-heart {
	position: absolute;
    display: inherit;
    width: 27px;
    height: 27px;
    top: 0;
    right: 6px;
  	border-radius: 15px;
  	background-color: #f0f0f0;
  	justify-content: center;
  	align-items: center;
  	z-index: unset;
  	margin-top: -12px;
  	margin-left: 0;
}

.product-ev-box .heart-ev {
	background: url(../images/home-2017/heart.svg) no-repeat;
	background-position: 0 0;
    width: 19px;
    height: 18px;
    background-size: 19px 18px;	
}

.product-ev-box .heart-ev:hover {
	background: url(../images/home-2017/heart-hover.svg) no-repeat;
	background-position: 0 0;
    width: 19px;
    height: 18px;
    background-size: 19px 18px;
}

.product-ev-box .prod-heart .dropdown-menu {
	background: url(../../assets/images/wish-tool-sprite.png) no-repeat transparent 8px -358px;
    width: 350px;
    border: 0!important;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    margin:-40px 0 0 20px;
    padding: 0 0 0 15px
}

.product-ev-box.right .prod-heart .dropdown-menu {
    margin-left: -341px;
    margin-top: -37px;
    padding: 0 15px 0 0;
    background-position: 315px -360px;
}

.product-ev-box.right .prod-heart .dropdown-menu li:first-child {
    border-left: 1px solid #ccc;
    border-right: 5px solid #5e008b;
}

.product-ev-box .prod-heart .dropdown-menu li:first-child {
    border-left: 5px solid #5e008b;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    background: url(../../assets/images/wish-tool-sprite.png) no-repeat 288px -200px;
    background-color: #fff;
}

.product-ev-box .prod-heart .dropdown-menu li {
    display: block;
    width: auto;
    float: none;
    height: 50px;
    line-height: 50px;
    text-align: left;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
    margin: 0;
    padding: 0;
}

.product-ev-box .prod-heart .dropdown-menu li:first-child p {
    margin-left: 15px;
    color: #5e008b;
    font-size: 16px;
    font-weight: 700;
}

.product-ev-box .prod-heart .dropdown-menu li a {
    color: #999;
    background: url(../../assets/images/wish-tool-sprite.png) no-repeat 296px -150px;
    background-color: #fff;
    line-height: 50px;
    font-weight: 400;
    font-size: 15px;
    padding: 0 20px;
}

.product-ev-box .prod-heart .dropdown-menu li .selected {
	color: #999;
    background: url(../../assets/images/wish-tool-sprite.png) no-repeat 296px -100px;
    background-color: #fff;
    line-height: 50px;
    font-weight: 400;
    font-size: 15px;
    padding: 0 20px;	
}

.product-ev-box .prod-heart .dropdown-menu .new_list a {
    color: #5e008b;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    background: #fff url(../../assets/images/wish-tool-sprite.png) no-repeat 300px 0px;
}

.slide-products-ev .bx-viewport {
	height: 453px !important;
}

.price-ev-unavailable .price-unavailable {
	padding-left: 3px;
	font-size: 13px;
	color: #999;	
}